body {
  margin: 0;
}

blockquote {
  margin: 16px 20px;
  border-left: 5px solid #ccc;
  padding-left: 16px;
}

th, td {
  padding: 5px;
  border: 1px solid #ccc;
}

#text-bar,
#preview-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.expand-compress {
  border: none;
  background: none;
  color: white;
  font-size: 20px;
}

#preview pre, #preview code {
  background-color: black;
  color: white;
  padding: 5px;
}